@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

/* Define global CSS variables for light and dark themes */
:root {
  /* Light theme colors */
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #4caf50;
  --secondary-color: #f1f1f1;
}

[data-theme='dark'] {
  /* Dark theme colors */
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
  --secondary-color: #1f1f1f;
}

/* Apply variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Add more theme-specific styles */
